@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    
}



h1 {
    font-size: 36px;
}

.container {
padding: 96px 0;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.text-purple {
    color: #6415ff;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0; 
}

.section__para {
    max-width: 576px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

/* Navigation Bar */

.nav__logo {
    width: 40px;
    margin-right: 12px;
}

.nav__logo--title {
    font-weight: 400px;
    font-size: 32px;
}

nav {
    display: flex;
     align-items: center;
     padding: 40px 48px;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    list-style-type: none;
}

.nav__link {
    margin: 0 32px 0 0;
}

.nav__link--primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6415ff;
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    color: white;
}

/* Header */



.header__div {
    width: 40%;
    z-index: 1;
}

.header__wrapper {
    padding: 0 48px;
}

.header__para {
    margin: 32px 0;
    font-size: 16px;
    line-height: 1.5;
    z-index: 1;
}

.header__title {
    padding: 75px 0 0;
    z-index: 1;
}

.header__email--input {
    border: 2px solid lightgray;
    height: 70px;
    border-radius: 40px;
    position: relative;
    margin-bottom: 80px;
    min-width: 438px;
}

.header__button { 
    position: absolute;
    height: 55px;
    width: 150px;
    right: 10px;
    top: 5px;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    background-color: #6415ff;
    border: none;
}

.header__email {
    position: absolute;
    left: 40px;
    top: 25px;
    font-size: 16px;
    color: gray;
    border: none;
    opacity: 0.7;
}

.header__img {
    width: 400px;
    color: lightgray;
    opacity: 0.5;
    z-index: 1;
}

.header__h3 {
    font-size: 12px;
    margin-bottom: 30px;
    opacity: 0.7;
    color: gray;
    z-index: 1;
}

.header__content {
    display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1;
}

.header__picture {
    width: 50%;
    z-index: 1;
}

.header__picture--img {
    width: 100%;
}

/* Features */

.features__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.feature__title {
    font-size: 24px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 64px 48px 0 48px;
}

.service {
    display: flex;
    width: calc(100%/3);
    padding-left: 50px;
    
}


.service__para {
   width: 200px; 
   line-height: 2;
   margin: 16px 0 64px;
   color: rgb(124, 139, 161);
}

.service__description {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.service__title {
    font-size: 24px;
}

.service__img {
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 50px;
}

.service__img--wrapper {
    margin-right: 20px;
}

/* Quality */

#quality {
    padding: 0 32px;
}

.quality__content {
    display: flex;
}

.quality__img {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.quality__img--border {
    padding: 0 56px;
}

.quality__img--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 64px;
}

.quality__description--h3 {
    font-size: 16px;

}

.quality__button {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
    margin-top: 32px;
    width: 142px;
    height: 42px;
    cursor: pointer;
}

/* Steps */

#steps {
    padding: 0 32px;
}

.steps__img--wrapper {
    width: 50%;
    display: flex;
    padding: 120px 0;
}

.steps__img {
    width: 100%;
}

.steps__content {
    display: flex;
}

.steps__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 32px 0 32px 64px;
}

.step {
    display: flex;
    margin: 32px 0 0 0;
}

.step__description {
    margin: 0 0 0 24px;
}

.step__para {
    margin: 12px 0 0;
    width: 320px;
    line-height: 2;
    color: rgb(124, 139, 161);
    font-size: 14px;
}

.step__number {
    font-size: 36px;
    color: lightgray;
}

.step__title {
    font-size: 20px;
}

/* Values */

#values {
   padding: 0 32px; 
}

.values__description {
    width: 50%;
    padding: 32px 64px 32px 0;

}

.value {
    margin: 32px 32px 0 0;
    display: flex;
    flex-direction: column;
    width: calc(100%/2);
    margin: 32px 32px 0 0;
    }

    .value__top {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

.value__img {
    font-size: 16px;
    color: #243e63;
    
}

.value__img--wrapper {
    background-color: #9ae6b4;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
}

.value__name {
    margin: 0 0 0 12px;
    color: #243e63;
    font-size: 20px;
}

.value__para {
    margin: 16px 0 0;
    font-size: 16px;
    color: #718096;
    line-height: 1.65;
}

.values__wrapper {
    display: flex;
}

.value__img--2 {
    font-size: 16px;
    color: #243e63;
}

.value__img--wrapper-2 {
    background-color: #feb2b2;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
}

.values__button {
    margin: 48px 0 0;
    background-color: #6415ff;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
    padding: 12px 32px;
    width: 142px;
    height: 42px;
    cursor: pointer;
}

.values__picture--wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__content {
    display: flex;
}

.values__picture--figure {
    width: 100%;
}

.values__picture {
    width: 100%;
}

/* Pricing */

.plans {
    display: flex;
}

.pricing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.plan {
    width: calc(100%/3);
    margin-right: 32px;
}

.plan:last-child {
    margin-right: 0;
}

.plan__stripe {
    width: 100%;
    height: 8px;
    margin-top: 48px;
    border-radius: 20px 20px 0 0;
}

.plan__stripe1 {
    width: 100%;
    height: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%) ;
    margin-top: 48px;
    border-radius: 20px 20px 0 0;
}

.plan__stripe2 {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border: none;
}

.plan__stripe3 {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

#pricing {
    padding: 0 32px;
}

.plan__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.plan__top1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    border-top: none;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.plan__top2 {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border: none;
    margin-top: 48px;
    padding-top: 40px;
    border-radius: 8px 8px 0 0;
}

.plan__top3 {
    border-top: none;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.plan__name {
    font-size: 20px;
    font-weight: bold;
}

.plan__name1 {
    color: #1a202c;
    font-size: 20px;
    font-weight: bold;
}

.plan__name2 {
    color: #f7fafc;
}

.plan__name3 {
    color: #1a202c;
}

.plan__price {
    font-size: 48px;
    margin: 16px 0;
}

.plan__price1 {
    color: #1a202c;
    font-size: 48px;
    margin: 16px 0;
}

.plan__price2 {
    color: #f7fafc;
}

.plan__price3 {
    color: #1a202c;
}

.plan__duration {
    font-size: 16px;
}

.plan__duration1 {
    color: #a0aec0;
    font-size: 16px;
}

.plan__duration2 {
    color: #f7fafc;
}

.plan__duration3 {
    color: #a0aec0;
}

.plan__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.plan__middle1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    border: 1px solid lightgray;
}

.plan__middle2 {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__middle3 {
    border: 1px solid lightgray;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
}

.plan__target1 {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
}

.plan__target2 {
color: #f7fafc;
}

.plan__target3 {
    color: #1a202c;
}

.plan__feature {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0 0;
}

.plan__feature1 {
color: #718096;
font-size: 16px;
font-weight: 500;
margin: 20px 0 0;
}

.plan__feature2 {
color: #f7fafc;
}

.plan__feature3 {
    color: #718096;
}

.plan__bottom {
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 32px 64px; 
}

.plan__bottom1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 64px;
    border: 1px solid lightgray;
}

.plan__bottom2 {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__bottom3 {
    border: 1px solid lightgray;
}

.plan__button {
    font-size: 14px;
    font-weight: bold;
    padding: 16px 32px;
    border-radius: 50px;
    border: none;
    height: 53px;
    width: 215px;
}

.plan__button1 {
font-size: 14px;
color: #f7fafc;
background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
padding: 16px 32px;
border-radius: 50px;
border: none;
height: 53px;
width: 215px;
}

.plan__button2 {
    background: #f7fafc;
    color: #6415ff;
}

.plan__button3 {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


/* Testimonials */

#testimonials {
    padding: 0 32px;
}

.testimonial__content {
    display: flex;
}

.testimonial__img--wrapper {
    width: 40%;
    display: flex;
    align-items: center;
}

.testimonial__img--figure {
    width: 100%;
}

.testimonial__img {
    width: 100%;
}

.testimonial__description {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.testimonial__rating {
    display: flex;
}

.fa-solid.fa-star {
    margin-top: 40px;
    margin-right: 4px;
    color: rgb(246, 173, 85);
}

.testimonial__title {
    margin: 16px 0 0;
}

.testimonial__para {
    margin: 16px 0 40px;
    color: #4a5568;
    line-height: 1.625;
}

.testimonial__profile--wrapper {
    display: flex;
}

.testimonial__picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__name--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial__name {
    color: #243e63;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-left: 24px;
}

.testimonial__role {
    color: #7c8ba1;
    font-size: 16px;
    margin-left: 24px;
}

.testimonial__button--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 13px;
    background: #edf2f7;
    margin: 0 12px;
    padding: 16px;
    border-radius: 50%;
    border: none;
    color: #6415ff;
}

.testimonial__divider {
    width: 1px;
    height: 24px;
    background-color: #cbd5e0;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* Start */

#start {
    padding: 0 32px;
}

.start__content {
    display: flex;
}

.start__title--wrapper {
   width: 50%;
    background: #6415ff;
    padding: 96px 32px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
}

.start__buttons {
width: 50%;
display: flex;
justify-content: flex-end;
align-items: center;
background: #6415ff;
padding: 96px 32px;
border-top-right-radius: 0;
border-bottom-right-radius: 10px;
}
    

.start__title {
  color: #f7fafc; 
  font-size: 30px;
  font-weight: 700; 
  line-height: 1.5;
  margin-left: 48px;
}

.start__button1 {
    color: #f7fafc;
    font-size: 16px;
    background: #f56565;
    margin: 1px 32px 1px 1px;
    padding: 20px 40px;
    border-radius: 500px;
    border: none;
    font-weight: 700;
}

.start__button2 {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    background: #6415ff;
    color: #f7fafc;
    margin-right: 48px;
    border: 1px solid rgb(160, 174, 192);
}

/* Footer */

footer {
    padding: 96px 32px;
    background: #6415ff;
    margin-top: 96px;
}

.footer__columns {
    display: flex;
}

.footer__column {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
}

.footer__column--title {
   font-weight: 700;
   color: #f7fafc;
   font-size: 16px; 
   margin-bottom: 24px;
}

.footer__column--link {
    text-decoration: none;
    color: #f7fafc;
    font-size: 14px;
   font-weight: 500;
    margin-bottom: 12px;
}

.footer__divider {
    background: rgb(116, 44, 255);
    margin: 64px 0;
    width: 100%;
    height: 2px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__img--wrapper {
    display: flex;
    align-items: center;
}

.footer__img {
    width: 32px;
    height: 32px;
}

.footer__img--name {
    font-weight: 900;
    font-size: 20px;
    color: #f7fafc;
    margin: 0 0 0 8px;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__social--links {
    display: flex;
    justify-items: center;
    align-items: center;
}

.footer__social--link {
    color: #243e63;
    font-size: 16px;
    background: #f7fafc;
    margin: 0 0 0 16px;
    padding: 8px;
    border-radius: 50%;
}